.header, .footer  {
	background-image: url(../assets/img/fondo1.png);
}

.nav-tabs, .footer-nav {
	margin: 15px 50px;
	font-family: 'Cinzel', sans-serif;
}

.nav-link {
	color: #F9DC05;
}

.nav-link:hover {
	color: #DDEEEE;
}

.nombreBar h2 {
	display: flex;
	margin: 0;
	align-items: center;
	font-family: 'Cinzel', serif;
	color: #DDEEEE;
}

.carousel-indicators [data-bs-target] {
	width: 100px;
	height: 5px;
	background-color: white;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 4rem;
    height: 80px;
}

.ubicacion, .mediospago, .redes, .newsletter, .subtitulo, .formulario {
	background-image: url(../assets/img/bg.jpg);
}

.card-ubicacion, .card-pago, .list-group-item {
	background: transparent;
}

.card-ubicacion h3, .card-body h3, .form-label {
	font-family: 'Cinzel', serif;
}

.item-redes:hover {
	font-weight: bold;
	font-size: 20px;
}

.item-redes a p, .form-label h4 {
	flex-wrap: wrap;
	text-align: center;
}

.nav-pills .nav-item .active {
	background-color: azure;
	color: black;
}

.formulario-items {
	color: #B0F2DA;
}

.formulario-items input:hover, .formulario-items textarea:hover {
	border: 3px solid lightblue;
	border-radius: 0.25rem;
}

@media only screen and (max-width: 768px) {
	.header-nav ul {
		justify-content: space-evenly;
	}

	.nombreBar {
		padding-bottom: 15px;
	}

	.card-body h3, .subtitulo {
		flex-wrap: wrap;
		text-align: center;
	}

	.list-redes, .item-redes {
		flex-direction: column;
	}

	.card-img-top {
		width: 60%;
	}
}